abricate_out
amrfinder_out
bamcov_out
coverage.tsv
fastp_out
genomes
isolates
kraken_out
kraken_unmapped_out
kraken_unmapped_strict_out
logs
metagenomics
mlst
prokka_out
quast_out
shovill_out
slurm-*.out
snakemake.job
snippy.job
snippy_out
snippy_strict_out
snippy_test
summary.tsv
todo.txt
.snakemake
