abricate_out
amrfinder_out
bamcov*out
coverage*.tsv
genomes
isolates
kraken*out
kraken_unmapped_out
kraken_unmapped_strict_out
logs
metagenomics
mlst
prokka_out
quast_out
shovill_out
slurm-*.out
snakemake.job
snippy.job
snippy_*
stats.json
summary.tsv
todo.txt
.snakemake
minikraken2_v2_8GB_201904_UPDATE
